In [2]:
import pandas as pd
import numpy as np

# Set random seed for reproducibility
np.random.seed(42)

# Create random data
n_rows = 100
data = {
    "ID": range(1, n_rows + 1),
    "Name": [f"Person_{i}" for i in range(1, n_rows + 1)],
    "Age": np.random.randint(18, 80, n_rows),
    "Salary": np.random.normal(50000, 10000, n_rows),
    "Experience": np.random.randint(0, 30, n_rows),
    "Score": np.random.uniform(0, 100, n_rows),
}

# Create DataFrame
df = pd.DataFrame(data)

# Display first few rows
print(df.head())

   ID      Name  Age        Salary  Experience      Score
0   1  Person_1   56  56983.989413          15  36.646878
1   2  Person_2   69  48283.711648           0  74.417052
2   3  Person_3   46  40928.134199           8  72.093992
3   4  Person_4   32  61886.257264          27  30.806079
4   5  Person_5   60  57855.321245          26  54.254023